@import url("//fonts.googleapis.com/css?family=Lato:300,400,500");

$navbar-ocni-height:  350px;
$navbar-ocni-margin-top:  -48px;


body {
  background-image: url("../images/bg.jpg");
}

.navbar-ocni {
  border-radius: 0px
}

.header-ocni {
  margin: 15px 0 15px 0
}

.jumbotron{
  margin-bottom: 10px;
}

.jumbotron-ocni {
  position: relative;
  overflow: hidden;
  height: $navbar-ocni-height;

  img {
    position: absolute;
  }

  p {
    color: aliceblue;
    text-transform: uppercase;
  }

  .shadow {
    background-color: rgba(49, 49, 49, 0.75);
    padding: 15px;
    height: $navbar-ocni-height;
  }
}

h2 {
  color: #1e5195;
}

.left-align {
  text-align: right;
}

.footer {
  background-color: #006fb0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
}

.sub-footer {
  background-color: #eee;
  padding-top: 20px;
}
.footer p {
  color: #fff;
}

.footer h3 {
  color: #fff;
}

.footer a {
  color: #fff;
}
